.cart {
  color: var(--dark-color);
  width: 13em;
  max-height: 20em;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  border: 2px solid #ddd;
  margin-right: 1rem;
}

.activeCart {
  height: calc(100vh + 120px) !important;
}

@media only screen and (max-width: 760px) {
  .cart {
    align-items: center;
    flex-direction: column;
    border: 2px solid #ddd;
    margin-bottom: 40px;
    overflow: hidden;
    height: 95px;
    width: 80%;
  }

  .cartHeader {
    min-height: 75px;
  }

  .cartBody {
    min-height: 28vh;
  }
}

.cartHeader {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px #ccccccd9;
  margin-bottom: 4px;
  padding: 20px;
}

.cartHeader h1 {
  padding-left: 8px;
  font-size: 32px;
}

.cartBody {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  padding: 8px;
}

.cartFooter {
  width: 100%;
  display: inherit;
  flex-direction: column;
  margin-top: auto;
  padding: 8px;
}

.cartSummary {
  font-size: 18px;
  padding: 20px 8px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cartTotalPrice {
  margin: 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartTotalPrice p {
  font-weight: 700;
}

.cartPrice {
  display: flex;
}

.cartResetBtn {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px auto;
  color: ghostwhite;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btn-cart-fire {
  background-color: var(--primary-fire-color);
}

.btn-cart-grass {
  background-color: var(--primary-grass-color);
}

.btn-cart-grass:hover {
  background-color: #459674;
}

.btn-cart-fire:hover {
  background-color: #d83f3f;
}
