.item {
  display: grid;
  grid-template-columns: 60px 1fr 65px;
  width: 100%;
  align-items: center;
  justify-items: flex-start;
  padding: 8px 0;
  font-size: 18px;
}

.item:nth-child(2n + 1) {
  background-color: var(--light-color);
}

.itemImage {
  width: 3rem;
  margin-left: 4px;
}

.itemName {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.itemName span {
  margin-right: 1rem;
}

.itemPrice {
  display: flex;
  align-items: center;
  justify-content: center;
}
