.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
    align-items: center;
    justify-items: center;
}

.store{
    margin-bottom: 35px;
}

