.header {
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 

.header-fire {
    background-color: var(--primary-fire-color);
}

.header-grass {
    background-color: var(--primary-grass-color);
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper img {
    width: 35px;
    margin: 4px;
}

.logo-wrapper p {
    font-size: 1.4em;
}

@media only screen and (max-width: 700px) {
    .logo-wrapper p {
        display: none;
    }
}

.btn-header-cart {
    background: transparent;
    color: white;
    border: none;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-header-cart span{
    margin-left: 8px;
    font-size: 16px;
}


