@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&family=Trade+Winds&display=swap');

:root {
    --primary-grass-color: #447e65;
    --secondary-grass-color: #DEFDE0;
    --primary-fire-color: #c24d4d;
    --secondary-fire-color:#FDDFDF;

}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: #333;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

#root {
    width: 100%;
}

.pokemon-price-image {
    width: 24px;
    margin-right: 4px;

}



